# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# Dependency directories (remove the comment below to include it)
# vendor/

# Ignore profile files that are generated while running benchmarks
*.prof

# IDE and editor folders
.vscode/
.idea/
*.swp
*.swo

# Operating System Files
.DS_Store
Thumbs.db

# Local development config files
dev.yaml
config.yaml

